<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Inventory Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- Intro Section -->
    <header>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#features">Features</a></li>
            </ul>
        </nav>
        <div class="cover">
            <img src="/static/images/cover-image.jpg" alt="Cover Image">
            <div class="cover-text">
                <h1>Simple Inventory Manager</h1>
                <p>Effortlessly manage your inventory with ease</p>
                <a href="https://github.com/Lizzy0295/simple-inventory_manager" class="button">View Application</a>
            </div>
        </div>
    </header>

    <!-- Features Section -->
    <section id="features">
        <h2>Key Features</h2>
        <div class="feature">
            <img src="/static/images/real-time-updates.jpg" alt="Real-Time Updates">
            <h3>Real-Time Inventory Updates</h3>
            <p>This feature allows users to see updates of their inventory. As items are added everyone is always on the same page.</p>
        </div>
        <div class="feature">
            <img src="/static/images/item-tracking.jpg" alt="Detailed Item Tracking">
            <h3>Detailed Item Tracking</h3>
            <p>Users can view details for each inventory item, including quantity,and history of changes. This feature helps in maintaining accurate records and facilitates easy tracking of inventory items.</p>
        </div>
        <div class="feature">
            <img src="/static/images/dashboard.jpg" alt="User-Friendly Dashboard">
            <h3>User-Friendly Dashboard</h3>
            <p>The dashboard provides user-friendly interface where users can get a quick overview of their inventory status. Key metrics and alerts are displayed prominently, enabling users to manage their inventory effectively.</p>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h2>About</h2>
        <p>The inspiration for this project came from the need to efficiently manage inventory in small businesses. As an aspiring small business owner, I want to help small business owner keep track of their stock without errors. This project was created to solve that problem by providing an easy-to-use, real-time inventory management system.</p>
        <p>This project is also a Portfolio Project for <a href="https://www.holbertonschool.com">Holberton School</a>.</p>

        <h3>Team Members</h3>
        <ul>
            <li>
                <strong>Onwuzulike Evangeline</strong>
                <ul>
                    <li><a href="https://www.linkedin.com/in/evangeline-onwuzulike-3a681126a">LinkedIn</a></li>
                    <li><a href="https://github.com/Lizzy0295">GitHub</a></li>
                    <li><a href="https://twitter.com/Evangeline59353">Twitter</a></li>
                </ul>
            </li>

        </ul>

        <h3>Project Repository</h3>
        <p>View the source code on <a href="https://github.com/Lizzy0295/simple-inventory_manager">GitHub</a>.</p>
    </section>
</body>
</html>

